// TODO: fix Badge messy styles
.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 14px;
  border-radius: 150px;
  background-color: $teal-translucid;
  font-size: 0.7rem;
  color: $teal;
  text-wrap: nowrap;
}
