.container {
  max-width: 85%;
  margin: 5rem auto;
}

.projects {
  &__title {
    margin-bottom: 3rem;
  }

  &__back-link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: $teal;

    & > svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: $teal;
      transition: all 0.2s;
    }

    &:hover {
      & > svg {
        transform: translateX(-4px);
      }
    }
  }
}
