.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    display: flex;
    width: 100%;

    tr {
      display: flex;
      width: 100%;

      th {
        padding: 8px;
        text-align: left;
        flex: 1;
        min-width: 0;
        font-size: 0.9rem;
      }
    }
  }

  tbody {
    display: flex;
    flex-direction: column;
    width: 100%;

    tr {
      display: flex;
      width: 100%;
      flex-wrap: wrap;

      td {
        display: flex;
        align-items: center;
        padding: 8px;
        flex: 1;
        min-width: 0;
        border-bottom: 0.5px solid rgba($color: $white-400, $alpha: 0.2);
      }
    }
  }

  .badges {
    &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  color: $white-400;
  transition: all 0.3s;

  & svg {
    width: 15px;
    height: 15px;
    fill: $white-400;
  }

  &:hover {
    color: $white-1000;
    text-decoration: underline;

    & svg {
      fill: $white-1000;
    }
  }
}

.opaque {
  color: $white-400;
}

.bold {
  font-weight: bold;
}
