.main {
  max-width: 70vw;
  margin: auto;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 50%;
  padding: 6rem 0;
  position: sticky;

  &__presentation-card {
    > h1 {
      font-size: 2.2rem;
    }
  }

  &__navbar {
  }

  &__social {
    display: flex;
    gap: 1rem;
  }
}
