:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  color: $white-800;
  min-height: 100%;

  // glow effect
  &:hover::before {
    opacity: 1;
  }

  &::before,
  &::after {
    border-radius: inherit;
    content: "";
    min-height: 100%;
    left: 0px;
    opacity: 0;
    position: fixed;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    pointer-events: none;
  }

  &::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(29, 78, 216, 0.15),
      transparent 80%
    );
    z-index: 3;
  }

  &::after {
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y),
      rgba(29, 78, 216, 0.7),
      transparent 80%
    );
    z-index: 1;
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: $white-800;
  cursor: pointer;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  color: $white-400;
}

li {
  list-style-type: none;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
}
